.container.fluid {
  position: fixed;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  padding: 12px 30px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  color: #eee;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  gap: 10px;
  max-width: 320px;
  width: fit-content;
  white-space: nowrap;
}

.container.fluid h4 {
  font-weight: 600;
  font-size: 1.4rem;
  color: #957272;
  text-shadow: 0 2px 8px rgba(149, 114, 114, 0.7);
  margin: 0;
}

.container.fluid p {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  color: #ddd;
}
